<!-- <form method="post" action="/recipes/<%= @recipe.id %>">
  <input id="hidden" type="hidden" name="_method" value="patch"></input>
  <p>Name: <input type="text" value="<%= @recipe.name %>" name="name"></input></p>
  <p>Ingredients: <input type="text" value="<%= @recipe.ingredients %>" name="ingredients"></input></p>
  <p>Cook Time: <input type="text" value="<%= @recipe.cook_time %>" name="cook_time"></input></p>
  <button type="submit" name="submit">Submit</button>
</form> -->


<form method="post" action="/recipes/<%=@recipe.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name<input id="recipe_name" type="text" value="<%=@recipe.name%>" name="name">
  Ingredients<input id="ingredients_names" type="text" value="<%=@recipe.ingredients%>" name="ingredients">
  Cook Time<input id="cook_time" type="text" value="<%=@recipe.cook_time%>" name="cook_time">
  <input type="submit" value="submit">
</form>
